/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ProductID]
      ,[Name]
      ,[Description]
      ,[Category]
      ,[Price]
  FROM [SportsStore].[dbo].[Products]




